body{
  margin: 0;
}
#root {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 1fr; /* Sidebar is 250px, Content takes the rest */
  grid-template-rows: auto 1fr auto; /* Header height, flexible body, footer height */
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

.header{
padding: 0.5em;
background-color: #6F4E37;
}

.footer{
text-align: center;
padding: 0.5em;
background-color: #6F4E37;
}

.h1{
  padding-left: 0.5em;
}
nav {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.siderbar {
  background-color: burlywood;

}

.header {
  grid-area: header;
}
.siderbar {
  grid-area: sidebar;
}
.main-content {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.coffee-image {
  width: 100%; /* Make it fill the card width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* This crops the image so it doesn't look squished */
  border-radius: 8px; /* Smooth rounded corners */
}

.coffee-card {
     color: black;
    background: chocolate;
    display: flex;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    flex-direction: column;
}

.description {
  flex: 1;
width: 100%; /* Let it use the full card width */
  margin: 10px 0; /* Add some space top and bottom instead of left */
  font-size: 0.9em;
}

.add-button{
      margin: 0.5em;
    background: transparent;
    border-radius: 20px;
}
